.takekoputa-inactive {
  transform: rotateX(70deg);
}

.takekoputa-style {
  @apply stroke-black stroke-[2] fill-yellow-500
}

@keyframes spin {
  from {
      transform: rotateX(70deg) rotateZ(0deg);
  }
  to {
      transform: rotateX(70deg) rotateZ(360deg);
  }
}
.animate-spin-slow {
  animation: spin .25s linear infinite;
  transform-origin: 40px 3px;
}